.bottomsheet {
  scroll-behavior: smooth;
  width: 100%;
}

.calendar-container {
  padding: 24px 20px 40px;
  display: flex;
  flex-direction: column;
}

.calendar-container .calendar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;

}
.calendar-container .calendar-header .btn-month {
  width: 16px;
  height: 16px;
  background: url(/cms12/common/img/icons/icCalBtnMonth.svg) center center no-repeat;
  font-size: 0;
}
.calendar-container .calendar-header .btn-month.active {
  background: url(/cms12/common/img/icons/icCalBtnMonthOn.svg) center center no-repeat;
}
.calendar-container .calendar-header .btn-month.next {
  transform: rotate(180deg);
}
.calendar-container .calendar-header .year-month {
  line-height: 24px;
  margin: 0 4px;
  color: var(--log-cabin);
  font-family: var(--font-family-pretendard-semibold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.calendar-container .calendar-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--gray-e5);
  margin-bottom: 16px;
}

.calendar-week-name {
  margin-bottom: 16px;
}

.calendar-week-content, .calendar-week-name {
  display: flex;
  flex-direction: row;
  color: var(--log-cabin);
  flex-wrap: wrap;
}
.calendar-week-content .calendar-num, .calendar-week-name .calendar-num {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--font-family-pretendard-regular);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}
.calendar-week-content .calendar-day, .calendar-week-name .calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  width: 13%;
  margin-right: 1.5%;
}

.calendar-week-content .calendar-day:nth-of-type(7n), 
.calendar-week-name .calendar-day:nth-of-type(7n) {
  margin-right: 0;
} 
.calendar-week-content .calendar-day.inactive {
  color: var(--chinese-silver);
} 
.calendar-week-content .calendar-day.current-day .calendar-num {
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--brandeis-blue);
}
.calendar-week-content .calendar-day .noted {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.calendar-week-content .calendar-day .noted .ico-dot {
  display: none;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  border-radius: 50%;
}
.calendar-week-content .calendar-day .noted .ico-dot:nth-of-type(1) {
  background: var(--bronze-metallic);
}
.calendar-week-content .calendar-day .noted .ico-dot:nth-of-type(2) {
  background: var(--maximum-red);
}
.calendar-week-content .calendar-day .noted .ico-dot:nth-of-type(3) {
  background: var(--log-cabin);
}
.calendar-week-content .calendar-day.extended-business-day .ico-dot:nth-of-type(1) {
  display: block;
}
.calendar-week-content .calendar-day.closed-day .ico-dot:nth-of-type(2) {
  display: block;
}
.calendar-week-content .calendar-day.academy-closed-day .ico-dot:nth-of-type(3) {
  display: block;
}

.calendar-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--suva-gray);
  font-family: var(--font-family-pretendard-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.calendar-footer .note-item {
  position: relative;
  margin: 0 8px;
  padding-left: 10px;
}
.calendar-footer .note-item::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: '';
}
.calendar-footer .note-item:nth-of-type(1)::before {
  background: var(--maximum-red);
}
.calendar-footer .note-item:nth-of-type(2)::before {
  background: var(--log-cabin);
}
.calendar-footer .note-item:nth-of-type(3)::before {
  background: var(--bronze-metallic);
}